{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/tarjetas.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Cargar Archivo</title>
</head>
<body>

    <header class="navbar">
        <div class="navbar-content">
            <a href="/" class="navbar-logo">
                Algorim
            </a>
            <nav class="navbar-links">
                <a href="/"><i class='bx bx-home-alt'></i>Inicio</a>
                {% if user.is_authenticated %}
                    <a href="/logout"><i class='bx bx-log-out-circle'></i>Logout</a>
                {% else %}
                    <a href="/auth"><i class='bx bx-log-in-circle'></i>Login/SignUp</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <h1>Cargar archivo de tarjetas</h1>
    <form id="file-form" action="{% url 'cargar_archivo' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cargar archivo</button>

        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </form>

    <h2>Instrucciones para el formato del archivo</h2>
    <p>El archivo <strong>.in</strong> debe estar en el siguiente formato:</p>
    <ul>
        <li>La primera línea debe contener el número total de tarjetas.</li>
        <li>A partir de la segunda línea, cada línea debe contener un número entero que representa el valor de una tarjeta.</li>
        <li>Ejemplo de formato válido:</li>
    </ul>
    <pre>
    5
    10
    20
    15
    25
    30
    </pre>
    <p>Donde <strong>5</strong> es el número total de tarjetas, seguido por los valores de cada tarjeta en líneas separadas.</p>
</body>
</html>
