{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/tableros.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Reinas</title>
    <script>
        function validarTamaño() {
            var n = parseInt(document.getElementById('id_n').value);
            
            if (n > 5) {
                alert("Error: El tamaño del tablero no puede ser mayor a 5.");
                return false;
            }
            
            return true;
        }
    </script>
</head>
<body>

    <header class="navbar">
        <div class="navbar-content">
            <a href="/" class="navbar-logo">
                Algorim
            </a>
            <nav class="navbar-links">
                <a href="/"><i class='bx bx-home-alt'></i>Inicio</a>
                {% if user.is_authenticated %}
                    <a href="/logout"><i class='bx bx-log-out-circle'></i>Logout</a>
                {% else %}
                    <a href="/auth"><i class='bx bx-log-in-circle'></i>Login/SignUp</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <h1>Resolver problema de las reinas</h1>
    <form method="post" novalidate onsubmit="return validarTamaño()">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="estilo">Seleccionar estilo del tablero:</label>
        <select name="estilo" id="estilo">
            <option value="normal">Modo normal</option>
            <option value="inverso">Modo inverso</option>
            <option value="realista">Modo realista</option>
        </select>
        
        <button type="submit" name="resolve">Resolver</button>
        <button type="submit" name="download_pdf">Descargar en PDF</button>
    </form>
</body>
</html>
