{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/jinx_hq.svg' %}" >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/tarjetas_result.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Resultado Tarjetas</title>
    <style>
        .tarjeta {
            display: inline-block;
            margin: 10px;
            padding: 20px;
            width: 100px;
            text-align: center;
            border-radius: 8px;
            color: white;
            font-weight: bold;
        }
        .conservada {
            background-color: green;
        }
        .eliminada {
            background-color: red;
        }
    </style>
</head>
<body>

    <header class="navbar">
        <div class="navbar-content">
            <a href="/" class="navbar-logo">
                Algorim
            </a>
            <nav class="navbar-links">
                <a href="/"><i class='bx bx-home-alt'></i>Inicio</a>
                {% if user.is_authenticated %}
                    <a href="/logout"><i class='bx bx-log-out-circle'></i>Logout</a>
                {% else %}
                    <a href="/auth"><i class='bx bx-log-in-circle'></i>Login/SignUp</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <h1>Resultado de las Tarjetas</h1>

    <form id="download-form" action="{% url 'descargar_pdf' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="tarjetas" id="tarjetas-input" value="">
        <button type="submit">Descargar PDF</button>
    </form>

    <div class="result_link">
        <a href="{% url 'cargar_archivo' %}">Cargar otro archivo</a>
    </div>

    <div id="tarjetas-container">
        {% for tarjeta in tarjetas %}
            <div class="tarjeta {% if tarjeta.estado == 'conservada' %}conservada{% else %}eliminada{% endif %}">
                {{ tarjeta.valor }}
            </div>
        {% endfor %}
    </div>
    <br>

    <script>
        const tarjetas = {{ tarjetas|safe }};
        const tarjetasJson = JSON.stringify(tarjetas);
        document.getElementById('tarjetas-input').value = tarjetasJson;
    </script>
    
</body>
</html>
